body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}
header {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: rgb(255, 4, 4);
    text-decoration: none;
    font-weight: bold;
}
main {
    margin-top: 60px; /* Ajuste para evitar que el contenido se oculte debajo del header fijo */
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background: #222;
    color: white;
}

#principal {
    background: url('https://img.freepik.com/free-photo/black-white-photo-determined-athlete-lifting-barbell-gym-while-his-athletic-friends-are-supporting-him_637285-2521.jpg?semt=ais_hybrid') no-repeat center center/cover;
    justify-content: left;
    font-size: xx-large;
    padding-left: 10px;
}

section:nth-child(even) {
    background: #444;
}
